body{
    background-color: red;
    background-image: url(../imgs/resumo-liso-fundo-laranja-layout-designstudioroom-modelo-de-web-relatorio-comercial-com-liso-c_1258-54783.avif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}